<!-- Footer Area -->
<footer id="wn__footer" class="footer__area bg__cat--8 brown--color">
    <div class="footer-static-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-11 col-lg-12">
                    <div class="footer__widget footer__menu">
                        <div class="ft__logo">
                            <a routerLink="/index">
                                <img src="assets/images/logo/logo.png" alt="logo">
                            </a>
                            <h4>¡Personalizando tus Detalles! </h4>
                        </div>
                        <div class="footer__content">
                            <ul class="social__net social__net--2 d-flex justify-content-center">
                                <!--li><a href="https://www.facebook.com/regalosdetails/" target="_blank"><i class="bi bi-facebook"></i></a></li>
                                    <li><a href="#"><i class="bi bi-google"></i></a></li>
                                    <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                                    <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                                    <li><a href="#"><i class="bi bi-youtube"></i></a></li-->

                                <li>
                                    <a href="https://www.facebook.com/regalosdetails/">
                                        <i class="fa fa-1x fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/details.promocionales/">

                                        <i class="fa fa-1x fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                            <ul class="mainmenu d-flex justify-content-center">
                                <li><a routerLink="/index" fragment="top">Home</a></li>
                                <li><a routerLink="/products" fragment="top">Productos</a></li>
                                <li><a routerLink="/catalogos" fragment="top">Catálogos PDF</a></li>
                                <li><a routerLink="/contact" fragment="top">Contacto</a></li>
                                <li><a routerLink="/checkout" fragment="top">Revisa tu Cotización</a></li>
                                <li><a routerLink="/faq" fragment="top">FAQ y Políticas</a></li>
                                <li><a href="./cat/SISTEMAS-DE-IMPRESION.pdf" target="_blank">Técnicas de Impresión </a></li>
                                <li><a href="#" fragment="top" data-toggle="modal" data-target="#aviso">Aviso de Privacidad</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright__wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="copyright">
                        <div class="copy__right__inner text-center">
                            <p>Copyright <i class="fa fa-copyright"></i> <a routerLink="/index">Details México.</a> Todos los derechos reservados</p>
                        </div>
                    </div>
                </div>
                <!--div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="payment text-right">
                            <img src="assets/images/icons/payment.png" alt="" />
                        </div>
                    </div-->
            </div>
        </div>
    </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="aviso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color: #AD1E1D !important" id="exampleModalLabel">Aviso de Privacidad y Protección de Datos Personales</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">

                <p>
                    Se informa que la persona física con actividad empresarial, CLAUDIA VERÓNICA PEREZ SANTOS, con domicilio en Av. Lomas Verdes 1200, colonia Lomas Verdes, Naucalpan Estado de México, C.P. 53120, le informa que los datos personales que reciba deben ser tratados
                    conforme al Aviso de Privacidad Integral de CLAUDIA VERÓNICA PEREZ SANTOS, puesto a disposición del titular previo a la captación de los datos; asimismo la recepción de datos personales a CLAUDIA VERÓNICA PEREZ SANTOS, se efectúa en
                    el entendido de que usted obtuvo previamente el consentimiento de los titulares de los mismos.
                </p><br>
                <p>
                    El tratamiento de los datos personales se realiza para el cumplimiento de obligaciones, gestiones, proveerle de servicios, con fines de mercadotecnia, publicidad o prospección comercial y de conformidad con el Aviso de Privacidad Integral que se encuentra
                    disponible en la página de Internet www.detailsmexico.com en la sección aviso de privacidad. La información contenida en este mensaje es confidencial, restringida y está destinada únicamente para el uso de la persona a quien se dirige,
                    si usted no es el destinatario legítimo del mismo, deberá reportarlo al remitente del correo y borrarlo inmediatamente.
                </p><br>
                <p>
                    Por lo tanto, queda prohibido su uso a persona ajena al destinatario indicado y/o para fines diferentes a los que se expresan en este mensaje. Por lo que, cualquier uso distinto al expresamente autorizado, o por persona distinta al destinatario, está
                    estrictamente prohibido; de tal forma que CLAUDIA VERÓNICA PEREZ SANTOS, no se hace responsable de dichos usos y se reserva cualquier tipo de acción legal que pudiera derivar contra quien, o quienes, resulten responsables de su divulgación,
                    reproducción o uso, sin previa autorización por escrito por parte de CLAUDIA VERÓNICA PEREZ SANTOS.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>