.slider__content {
    text-align: center !important;
}

.slider__content h2 {
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #fff;
}

@media (max-width: 500px) {
    .slider__content h2 {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff;
    }
}

@media (max-width: 420px) {
    .contentbox {
        display: none;
    }
    #top {
        padding-top: 80px !important;
    }
    .contentbox {
        display: block !important;
    }
    .slider__content {}
}

.shopbtn {
    color: #FFFFFF !important;
}

.modal-xlg {
    min-width: 800px;
    background-color: #DD7896;
}

.modal-content {
    background-color: transparent !important;
    border-color: transparent !important;
}

.modal-body {
    padding: 0 !important;
    margin: 0 !important;
}

.modal-header {
    margin: 0 auto;
}

.close {
    position: absolute !important;
    font-size: 40px;
    padding-bottom: 4px !important;
    right: 15px;
    top: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 60px;
    width: 40px;
    z-index: 999 !important;
}

@media (max-width: 1024px) {
    .modal-xlg {
        min-width: 95%;
        min-height: 70%;
    }
    .close {
        right: 14px;
        top: 10px;
    }
}

.alert-danger {
    height: 28px !important;
    padding: 0 !important;
    margin: 0 !important;
}

#id_recaptcha_mail {
    position: relative !important;
    right: 50% !important;
    left: 6% !important;
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
    -ms-transform: scale(0.80);
    -o-transform: scale(0.80);
    transform: scale(0.80);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}

.img-logo {
    width: 70px !important;
}

.banner-container {
    position: absolute !important;
    bottom: 44px !important;
    right: 0 !important;
    left: 0 !important;
}

.mat-progress-spinner::ng-deep circle {
    stroke: #DB773A !important;
}