<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--12" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcaump__inner text-center">
                    <h2 class="bradcaump-title">Descarga de Catálogos</h2>
                    <nav class="bradcaump-content">
                      <a class="breadcrumb_item" routerLink="/index">Home</a>
                      <span class="brd-separetor">/</span>
                      <span class="breadcrumb_item active" style="color: #FFFFFF !important;">Descarga los Catálogos</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<div class="container mt-5">

     <div class="row justify-content-center">
        <div class="col-10">
            <div class="card border-danger mb-3" >
                <div class="card-header text-danger font-weight-bold text-center">¿QUIERES CONOCER MÁS PRODUCTOS?</div>
                    <div class="row card-body text-seconary justify-content-center">
                        <!--h5 class="card-title">NOTA</h5-->
                        <div class="col-sm-10 col-md-8">
                           <ul>
                                <li>
                                <span class="text-danger"> * </span>Descarga el catálogo de tu preferencia y solicita una cotización directa al <a href="tel:5550180037" class="text-danger">55 5018-0037</a> 
                                o <span class="text-danger">ventas@detailsmexico.com </span>

        
                                </li>
                              
                           </ul>
                        </div>
                        
                        <p class="card-text">
                                
                        </p>
                    </div>
            </div>

        </div>

     </div>   
    <div class="row justify-content-center">

        <div class="col-8 col-sm-5 col-lg-3 card m-1" style="width: 18rem;">
                <img src="./assets/images/catalogos/VICTORINOX.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                        <h5 class="card-title">VICTORINOX</h5>
                        <a href="./cat/VICTORINOX.pdf" target="_blank" class="btn btn-danger btn-lg text-white">Descargar</a>
                </div>
        </div>
        <div class="col-8 col-sm-5 col-lg-3 card m-1" style="width: 18rem;">
                <img src="./assets/images/catalogos/LIBRETAS.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                        <h5 class="card-title ">LIBRETAS</h5>
                        <a href="./cat/LIBRETAS.pdf" target="_blank" class="btn btn-danger btn-lg text-white">Descargar</a>
                </div>
        </div>
            
        <div class="col-8 col-sm-5 col-lg-3 card m-1" style="width: 18rem;">
                <img src="./assets/images/catalogos/PROMOCIONALES03.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                        <h5 class="card-title text-center">PROMOCIONALES 1</h5>
                        <a href="./cat/PROMOCIONALES03.pdf" target="_blank" class="btn btn-danger btn-lg text-white">Descargar</a>
                </div>
        </div>
        <div class="col-8 col-sm-5 col-lg-3 card m-1" style="width: 18rem;">
                <img src="./assets/images/catalogos/PROMOCIONALES04.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                        <h5 class="card-title text-center">PROMOCIONALES 2</h5>
                        <a href="./cat/PROMOCIONALES-4.pdf" target="_blank" class="btn btn-danger btn-lg text-white">Descargar</a>
                </div>
        </div>

               
        <div class="col-8 col-sm-5 col-lg-3 card m-1" style="width: 18rem;">
                <img src="./assets/images/catalogos/PRODUCTOS-ECOLOGICOS.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                        <h5 class="card-title text-center">PRODUCTOS ECOLÓGICOS</h5>
                        <a href="./cat/PRODUCTOS-ECOLOGICOS.pdf" target="_blank" class="btn btn-danger btn-lg text-white">Descargar</a>
                </div>
        </div>
        <div class="col-8 col-sm-5 col-lg-3 card m-1" style="width: 18rem;">
                        <img src="./assets/images/catalogos/REGALOS-Y-LLAVEROS.jpg" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                          <h5 class="card-title text-center">REGALOS Y LLAVEROS</h5>
                          <a href="./cat/REGALOS-Y-LLAVEROS.pdf" target="_blank" class="btn btn-danger btn-lg text-white">Descargar</a>
                        </div>
        </div>
        <!--div class="card m-1" style="width: 18rem;">
                        <img src="./assets/images/catalogos/POWERBANKS.jpg" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                          <h5 class="card-title">POWER BANKS Y USB's</h5>
                          <a href="./cat/USB-Y-POWER-BANK.pdf" target="_blank" class="btn btn-danger btn-lg text-white">Descargar</a>
                        </div>
        </div-->
        <div class="col-8 col-sm-5 col-lg-3 card m-1" style="width: 18rem;">
                <img src="./assets/images/catalogos/LAMY.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                        <h5 class="card-title">BOLÍGRAFOS LAMY</h5>
                        <a href="./cat/BOLIGRAFOS-LAMY.pdf" target="_blank" class="btn btn-danger btn-lg text-white">Descargar</a>
                </div>
        </div>

     
        <div class="col-8 col-sm-5 col-lg-3 card m-1" style="width: 18rem;">
                <img src="./assets/images/catalogos/PERFECTCHOICE.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                        <h5 class="card-title ">PERFECT CHOICE</h5>
                        <a href="./cat/PERFECT-CHOICE.pdf" target="_blank" class="btn btn-danger btn-lg text-white">Descargar</a>
                </div>
        </div>
        <div class="col-8 col-sm-5 col-lg-3 card m-1" style="width: 18rem;">
                <img src="./assets/images/catalogos/FOSSIL.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                        <h5 class="card-title text-center">RELOJES FOSSIL</h5>
                        <a href="./cat/RELOJES-FOSSIL.pdf" target="_blank" class="btn btn-danger btn-lg">Descargar</a>
                </div>
        </div>
        <div class="col-8 col-sm-5 col-lg-3 card m-1" style="width: 18rem;">
                <img src="./assets/images/catalogos/SWAROVSKI.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                        <h5 class="card-title">SWAROVSKI</h5>
                        <a href="./cat/SWAROVSKI.pdf" target="_blank" class="btn btn-danger btn-lg text-white">Descargar</a>
                </div>
        </div>
        <div class="col-8 col-sm-5 col-lg-3 card m-1" style="width: 18rem;">
                <img src="./assets/images/catalogos/PERSONALIZADAS.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                        <h5 class="card-title">LIBRETAS PERSONALIZADAS</h5>
                        <a href="./cat/LIBRETAS-PERSONALIZADAS.pdf" target="_blank" class="btn btn-danger btn-lg text-white">Descargar</a>
                </div>
        </div>

     </div>

        <!--div class="row justify-content-center mt-5">

              
                <div class="card m-1" style="width: 18rem;">
                        <img src="./assets/images/catalogos/AGENDAS.jpg" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                          <h5 class="card-title ">AGENDAS 2020</h5>
                          <a href="./cat/AGENDAS-2020.pdf" target="_blank" class="btn btn-danger btn-lg text-white">Descargar</a>
                        </div>
                    </div>

        </div-->

</div>

