<!-- Start Bradcaump area -->

    <div class="ht__bradcaump__area bg-image--4-1" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Preguntas Frecuentes</h2>
                        <nav class="bradcaump-content">
                          <a class="breadcrumb_item" routerLink="/">Home</a>
                          <span class="brd-separetor">/</span>
                          <span class="breadcrumb_item active">Preguntas Frecuentes</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- End Bradcaump area -->
<!-- Start Faq Area -->
<section class="wn__faq__area bg--white pt--80 pb--60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="wn__accordeion__content">
                    <h2>
                        A continuación encontrarás las dudas mas comunes de nuestros clientes que posiblemente te puedan ayudar.
                    </h2>
                    <p style="font-size: 16px;">En caso de que tengas alguna otra duda adicional, no dudes en contactarnos dando click <a routerLink="/contact" fragment="top"><strong>aquí.</strong></a> </p>
                </div>
                <div id="accordion" class="wn_accordion" role="tablist">
                    <div class="card">
                        <div class="acc-header" role="tab" id="headingOne">
                              <h5>
                                <a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">
                                    ¿Cómo puedo adquirir sus productos?
                                </a>
                              </h5> 
                        </div>
                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                Una vez que tengas seleccionados los productos que te interesen, por favor envíanos a través del 
                                correo electrónico ventas@detailsmexico.com la cantidad que deseas e indícanos si llevarán impresión de tu logotipo o 
                                identidad corporativa. En la cotización encontrarás desglosado el precio del producto, el costo de impresión y el 
                                tiempo de entrega.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="acc-header" role="tab" id="headingTwo">
                              <h5>
                                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
                                    ¿Existe un mínimo de compra?
                                </a>
                              </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                              <div class="card-body">
                                  No existe mínimo, puedes adquirir desde 1 solo artículo.
                                </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="acc-header" role="tab" id="headingThree">
                              <h5>
                                <a class="collapsed" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">
                                    ¿Puedo imprimir mi logotipo en los productos?</a>
                              </h5>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                              <div class="card-body">
                                Si. El costo vendrá desglosado además del producto y el costo es con relación al material del producto y el sistema de impresión o 
                                grabado que requieras. Sólo necesitamos nos proporciones el archivo editable de tu logotipo (vectores o curvas). Si no cuentas con este 
                                archivo contamos con área gráfica con un costo adicional.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="acc-header" role="tab" id="headingFour">
                              <h5>
                                <a class="collapsed" data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapseFour">
                                    ¿Qué opciones tengo para personalizar mis productos?
                                </a>
                              </h5>
                        </div>
                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
                              <div class="card-body">
                                Revisa las opciones que tienes para personalizar tus productos <a href="./cat/SISTEMAS-DE-IMPRESION.pdf"><strong>aquí.</strong></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="acc-header" role="tab" id="headingFive">
                              <h5>
                                <a class="collapsed" data-toggle="collapse" href="#collapseFive" role="button" aria-expanded="false" aria-controls="collapseFive">
                                    Previo a realizar mi compra. ¿Cómo puedo saber cómo quedará mí artículo impreso o grabado?</a>
                              </h5>
                        </div>
                        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
                              <div class="card-body">
                                Te enviaremos una muestra virtual lo más aproximado a cómo quedará el artículo y tengas una mejor visualización del tu proyecto. 
                                Con esta muestra autorizada por tu parte, y el depósito requerido se iniciará la producción y proceso de tu proyecto.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="acc-header" role="tab" id="headingSix">
                              <h5>
                                <a class="collapsed" data-toggle="collapse" href="#collapseSix" role="button" aria-expanded="false" aria-controls="collapseSix">
                                    ¿Puedo solicitar una muestra física para ver el producto y evaluar la calidad?</a>
                              </h5>
                        </div>
                        <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion">
                            <div class="card-body">
                                Sí, la muestra se enviará en un periodo de 24 a 72 horas una vez que recibas la muestra física deberá hacer su devolución en un periodo máximo de 7 días.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="acc-header" role="tab" id="headingSeven">
                              <h5>
                                <a class="collapsed" data-toggle="collapse" href="#collapseSeven" role="button" aria-expanded="false" aria-controls="collapseSeven">
                                    ¿Puedo comprar una muestra física sin impresión?</a>
                              </h5>
                        </div>
                        <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#accordion">
                              <div class="card-body">
                                Si. Desde una pieza y el tiempo de entrega es de 2 a 4 días hábiles, posteriores al pago del artículo.
                                </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="acc-header" role="tab" id="headingEight">
                              <h5>
                                <a class="collapsed" data-toggle="collapse" href="#collapseEight" role="button" aria-expanded="false" aria-controls="collapseEight">
                                    ¿Puedo solicitar una muestra impresa antes de realizar mi pedido?
                                </a>
                              </h5>
                        </div>
                        <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight" data-parent="#accordion">
                              <div class="card-body">
                                Si. el tiempo de entrega es de 4 a 6 días hábiles, posteriores al pago del artículo y autorización de la muestra virtual.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="acc-header" role="tab" id="headingNine">
                              <h5>
                                <a class="collapsed" data-toggle="collapse" href="#collapseNine" role="button" aria-expanded="false" aria-controls="collapseNine">
                                    ¿Cómo realizo el pago del pedido?
                                </a>
                              </h5>
                        </div>
                        <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine" data-parent="#accordion">
                              <div class="card-body">
                                A través de trasferencia bancaria, depósito en sucursal, en efectivo o PayPal. (Para pagos en efectivo el pedido debe ser menor a cinco mil pesos) No aceptamos cheques ni pagos con tarjeta de crédito.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="acc-header" role="tab" id="headingTen">
                              <h5>
                                <a class="collapsed" data-toggle="collapse" href="#collapseTen" role="button" aria-expanded="false" aria-controls="collapseTen">
                                    ¿En cuánto tiempo recibiré mi pedido?
                                </a>
                              </h5>
                        </div>
                        <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen" data-parent="#accordion">
                              <div class="card-body">
                                Una vez aprobada las muestras virtuales y realizado el 50 % de anticipo, el periodo de entrega es de 8 a 10 días hábiles salvo que previo en la cotización se te haya indicado una fecha diferente. (puede variar por volumen y residencia de entrega, manufactura especial o materiales de importación específica).
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="acc-header" role="tab" id="headingEleven">
                              <h5>
                                <a class="collapsed" data-toggle="collapse" href="#collapseEleven" role="button" aria-expanded="false" aria-controls="collapseEleven">
                                    ¿Cuánto cuesta el envío?
                                </a>
                              </h5>
                        </div>
                        <div id="collapseEleven" class="collapse" role="tabpanel" aria-labelledby="headingEleven" data-parent="#accordion">
                              <div class="card-body">
                                En pedidos superiores a $8,000 pesos en paquetes no excedentes a 5 kg, es gratuito. Si el peso rebasa los 5 kilos, únicamente se cobrará el excedente.
                                <br><br>      
                                En pedidos menores a $8,000 pesos solicítanos el costo del servicio. Contamos con tarifas preferenciales de las más reconocidas paqueterías a nivel mundial. También puedes acudir a recogerlos personalmente.
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            
            <div class="col-12">

            <div class="card">
                <div class="card-body">

                <h2>POLÍTICAS</h2>

                <h3 class="pt-3 pb-3">PARA INICIAR CUALQUIER PROYECTO ES NECESARIO:</h3>

                <ol class="ordered-list">
                    <li>Completar todos los datos en tu orden de compra.</li>
                    <li>
                        Autorizar la muestra virtual teniendo en cuenta lo siguiente:
                        <ul>
                            <li>- Revisar que los datos sean correctos.</li>
                            <li>- No habrá cambios posteriores a que la mercancía entre a talleres.</li>
                        </ul>
                    
                    </li>
                    <li>Realizar el pago de anticipo del 50%.</li>
                    <li>Si el producto no lleva impresión debes depositar el 100% del pedido.</li>
                    <li>Antes de realizar el anticipo verifica inventario de los artículos solicitados.</li>
                    <li>Envía a tu ejecutivo el comprobante de pago a través de correo electrónico.</li>
                    <li>Si requieres factura envía tus datos fiscales.</li>
                    <li>Nuestros precios no incluyen IVA.</li>
                    <li>Te informaremos cuando la producción esté lista para coordinar la entrega.</li>
                </ol>

                <h3 class="pt-3 pb-3">PRECIOS</h3>

                <ul class="ordered-list">
                    <li>- Todos nuestros precios están sujetos a cambio sin previo aviso.</li>
                    <li>- Los precios anunciados en www.detailsmexico.com son de carácter informativo y pueden variar conforme al tipo de cambio interbancario.</li>
                </ul>

                <h3 class="pt-3 pb-3">GARANTIA Y DEVOLUCIONES</h3>

                <ol class="ordered-list">
                    <li>
                        La garantía es válida únicamente en artículos sin impresión y aquellos que hayan sido impresos por Details México.
                    </li>
                    <li>
                        Devoluciones sólo por defecto de fabricación o mal funcionamiento, en caso de presentarse deberán notificarlo con el ejecutivo correspondiente durante los primeros 7 días naturales posteriores a su entrega, posteriormente no se aceptarán ningún tipo de reclamación.
                    </li>
                    <li>
                        El tiempo de reposición será de 5 días hábiles.
                    </li>
                    <li>
                        El producto defectuoso estará sujeto a revisión por parte del fabricante.
                    </li>
                    <li>
                        La garantía no aplica cuando los artículos fueron usados de manera inapropiada o si sufrió algún daño en su transportación, almacenamiento o manipulación.
                    </li>
                </ol>

                <h3 class="pt-3 pb-3">CANCELACIONES</h3>


            <p >IMPORTANTE: Una vez realizado el anticipo no habrá cancelaciones.</p>

            <h3 class="pt-3 pb-3">POLÍTICAS DE ENVIO</h3>

            <p >
                Details Utiliza servicios externos de paquetería y mensajería por lo que nos apegamos a las políticas de dichas compañías. En ningún caso Details es responsable de perdidas o daños a la mercancía.
                Considere que las entregas se realizan en la recepción de la empresa u oficina.
            </p> <br>
            <p >No incluye acomodo, estiba, traslados a bodegas o pisos superiores. Si desea cubrir con alguno de los puntos mencionados por favor indíquenos para cotizar el movimiento.
                El horario de entrega es el en transcurso de las 9:00 a 18:00 horas de lunes a viernes. En caso de que nadie reciba será responsabilidad del cliente llamar a la paquetería para reprogramar la entrega y cubrir el costo si es necesario.
            </p>
            <p ><br>
                Los envió se realizarán a la dirección proporcionada en la orden de compra. Si requiere realizar un cambio por favor solicite una nueva cotización de envío.
            </p>

            <h3 class="pt-3 pb-3">FACTURACIÓN</h3>

            <p >
                Para la elaboración de su factura es necesario enviar su RFC y datos fiscales actualizados. Todos los pedidos son facturados. Valide sus datos y montos en la pre-factura que le enviaremos. Una vez emitida la factura no hay cancelaciones.
            </p>

                    </div>
                </div>


            </div>
        </div> 
    </div> 
</section>
<!-- End Faq Area -->
